<div class="create-note">
  <div class="modal-header">
    <h1 class='text-center'>
      <span class='thin'>WHAT IS THIS?</span>
      <button type="button" class="close" ng-click="cancel()">&times;</button>
    </h1>
  </div>
  <div class="modal-body">
    <p class="lead">
      <span class="h1 thin">Hello, </span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <p class="lead pull-right">
      From scott@helloblock.io
    </p>
    <br>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">CLOSE</button>
  </div>
</div>

