<div class="create-note">
  <div class="modal-header">
    <h2 class='text-center'>
      <span class='calvin-klein thin'>WHAT IS THIS?</span>
      <button type="button" class="close" ng-click="cancel()">&times;</button>
    </h2>
  </div>
  <div class="modal-body">
    <p class="lead">
      <span class="h1">Hello, </span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <br>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">CLOSE</button>
  </div>
</div>

