<div class="claim-content text-center row">
  <div class="col-md-6 col-md-offset-3">
    <br><br>
    <section>
      <p class='super-lead'>
        Hey there scottli_010 :)
      </p>
    </section>
    <br>
    <section>
      <p class="super-lead">
        If you are reading this, it means a special someone has sent you some Bitcoins for Valentine's Day.
      </p>
    </section>
    <br>
    <section>
      <p class="super-lead">
        <a href="https://www.youtube.com/watch?v=Um63OQz3bjo">What are Bitcoins anyway?</a>
      </p>
    </section>
    <br>
    <section>
      <p class="super-lead">
        A personal note was also left for you, but this is no ordinary note. This note has been forever embedded into human history as it was included in the Blockchain. Here's <a href="/how-it-works">how it works.</a>
      </p>
    </section>
    <br>
    <blockquote>
      <p class='claim-note'>
        "Scott, please marry me so we can run away together and start a family."
      </p>
      <p class="claim-note">
        <small>
          Jennifer Lawrence
        </small>
      </p>
    </blockquote>
    <section>
      <p class="super-lead">
        You can see the whole thing <a href="/note/1">here</a>
      </p>
    </section>
    <br>
    <section>
      <p class="super-lead">
        This page is a unique URL only available to you. To claim your Bitcoins, enter your address below and we will send you balance. If you're not sure how this works, checkout <a href="https://coinbase.com">Coinbase.com</a> or <a href="https://coinjar.com">Coinjar.io</a>
      </p>
    </section>
    <br>
    <div class='claim-box'>
      <div class="input-group">
        <!-- <input type="text" class="form-control"> -->
        <input type="text" class='form-control square' ng-model="to_address">
        <span class="input-group-btn">
          <button class="btn btn-success" type="button" ng-click="claim()">CLAIM</button>
        </span>
      </div>
    </div>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
  </div>

</div>
