<div class="container">
  <br><br><br>
  <blockquote>
    <div class="h1 thin text-center">
      Seal Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </blockquote>
  <br><br>
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>
            <span class="h2"><strong>STATUS: </strong></span>
          </td>
          <td>
            <div class="h2">
              <span class="label label-warning">PENDING</span>
              <span class="label label-success dim">RECEIVED</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="h2"><strong>ADDRESS: </strong></span>
          </td>
          <td>
            <div class="h2">
              <textarea
                class="address thin"
                spellcheck="false"
                readonly
                selected>{{address}}</textarea>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
