<div class="container">
  <br>
  <h1 class='text-center'>CONFIRMATION</h1>
  <br>
  <div class="col-md-10 col-md-offset-1">
    <blockquote>
      <div class="h2 thin">
        Please confirm your note by sending any amount of BTC (> 0.001) to the following address. Once received, your note will be forever stored in the Blockchain. See <a href="/how-it-works">how this works.</a>
      </div>
    </blockquote>
    <table class="table table-striped table-confirm">
      <tbody>
        <tr>
          <td>
            <span class="h2">NOTE:</span>
          </td>
          <td>
            <div class="h2 thin">
              {{note.content}}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="h2">FROM:</span>
          </td>
          <td>
            <div class="h2 thin">
              {{note.sender}}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="h2">STATUS:</span>
          </td>
          <td>
            <div class="h2">
              <span class="label label-primary" ng-class="{dim: note.payment_valid}">WAITING</span>
              <span class="label label-success" ng-class="{dim: !note.payment_valid}">RECEIVED</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="h2">URL:</span>
          </td>
          <td>
            <div class="h2 thin">
              <a href="http://www.thenoteblock.com/notes/{{note.id}}" target="_blank">http://www.thenoteblock.com/notes/{{note.id}}</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <h1 class='text-center'>{{note.address}}</h1>
  </div>
</div>
