<h1 class='text-center thin'>
  How It Works
</h1>
<br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2 class='text-center'>How do I send a love note?</h2>
    <blockquote>
      <p class="lead">
        1. Create a love note using “Create Note”. The e-mail and from fields are optional, but you must write a note no longer than 136 characters.
      </p>
      <p class='text-center'>
        <img src="http://placehold.it/200x200">
      </p>
      <p class="lead">
        2. Once created, send any amount of Bitcoins (minimum 0.001 BTC) to the address specified to confirm the note.
      </p>
      <p class='text-center'>
        <img src="http://placehold.it/200x200">
      </p>
      <p class="lead">
        3. Once the payment is received, The Noteblock will build and propagate the transaction with the note embedded. 0.0005 BTC will be used to build the transaction and embed your note into the Blockchain. The remaining balance will be sent to your recipient.
      </p>
      <p class='text-center'>
        <img src="http://placehold.it/200x200">
      </p>
      <p class="lead">
        4. After the note has been embedded, an e-mail will be sent out to your recipient (if specified). They will be able to claim the Bitcoins using the unique token provided in the e-mail.
      </p>
      <p class='text-center'>
        <img src="http://placehold.it/200x200">
      </p>

    </blockquote>
    <br>
    <h2 class='text-center'>How do messages get embedded?</h2>
    <blockquote>
      <p class="lead">
        Each standard Bitcoin address is a derivation of the 20 bytes `hash160` e.g.<a target="_blank" href="https://helloblock.io/mainnet/addresses/17xVQ1b8EkZweCUnQXWCTNzm7MZSwVwByb">17xVQ1b8EkZweCUnQXWCTNzm7MZSwVwByb</a>. This allows us to embed an arbitrary 20 bytes message in each output. When you put together a message, we build and propagation a transaction where your message is matched by the hash160s of the outputs.
      </p>
      <p class="lead">
        For example, <a target="_blank" href="https://helloblock.io/mainnet/transactions/e3a9277237ef037f6e97219f3c79d4146f3431ae28af82980f912a5de6a4f935">e3a9277237ef037f6e97219f3c79d4146f3431ae28af82980f912a5de6a4f935</a>. This transaction has 3 outputs. The first 2 outputs represent the message, which says “I love you til the end of time.” and the last output is the change output.
      </p>
    </blockquote>
    <h2 class='text-center'>Technical Details</h2>
    <blockquote>
      <p class="lead">
        All NoteBlock messages will begin with version bytes 0x4c4f5645 (the hexadecimal representation for  ‘LOVE’) in the first output of a transaction.
        <!--  If we identify a transaction where the first output has a hash160 that starts with that particular version byte we will try to decode it and display it as a message. -->
      </p>
      <p class="lead">
        This is built on top of the <a target="_blank" href="https://helloblock.io">HelloBlock API</a>
      </p>
    </blockquote>
    <h2 class='text-center'>Manifesto</h2>
    <blockquote>
      <p class="lead">
        This was inspired by the upcoming v0.9 release which makes OP_RETURN a standard transaction output in Bitcoin. See <a target="_blank" href="https://github.com/bitcoin/bitcoin/pull/2738">pull/2738</a>, and <a target="_blank" href="https://bitcoinfoundation.org/blog/?p=290">this blog post</a>
      </p>
      <p class="lead">
        This has big implications for Bitcoin as a programmable currency protocol. Right now, developers have tried various ways to embed arbitrary messages (such as cryptographic hash of import documents) into the blockchain. Using the output’s hash160 to store the data payload is one of the common ways to embed messages. Making OP_RETURN standard has important implications for smart contracts, using Bitcoin transactions to prove / transfer ownership and will enable many more startups to develop innovative solutions using the Bitcoin protocol.
      </p>
    </blockquote>
  </div>
</div>
