<div id="centerpiece">
  <div class="text-center">
    <span class='h1 title-fancy text-center'>The Noteblock</span>
  </div>

  <!-- <small>
    <em> Forever embed your love note in the Blockchain</em>
  </small> -->

  <br>
  <div class='h1 text-center calvin-klein'>
    Roses will wither, but the Blockchain is Forever.
  </div>
</div>

<div class="container">
  <div class="thick-line"></div>
  <br>
  <tabset>
    <tab heading="LATEST NOTES">
      <div class="row note"  ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]">
        <br>
        <div class="col-md-8">
          <p class='lead text-center'>
            <a class="text-gray" href='/notes/1'>
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod." - Anonymous
            </a>
          </p>
        </div>
        <div class="col-md-2">
          <p class='lead text-center'>
            15 min ago
          </p>
        </div>
        <div class="col-md-2">
          <p class='lead text-center'>
            <span class="label label-default label-lg">0.01 BTC</span>
            <small class='smaller'>DEDICATED</small>
          </p>
        </div>
      </div>
      <!-- <div ng-include="'/templates/blockExplorer/_tx.html'"></div> -->
    </tab>
    <tab heading="TOP NOTES">
      <!-- <div ng-include="'/templates/blockExplorer/_tx.html'"></div> -->
    </tab>
    <div class="pull-right">
      <a class="btn btn-primary" ng-click="NoteModal.open()">+ CREATE A NOTE</a>
    </div>

  </tabset>

</div>

