<div class="container">
  <h1 class='title-fancy text-center'>The Noteblock</h1>

  <h1 class='text-center calvin-klein'>
    "Roses will wither, but the Blockchain is Forever."
  </h1>

  <!-- CTA MESSAGE -->

  <br>
  <div class="col-md-10">
    <tabset>
      <tab heading="LATEST MESSAGES">
        LATEST
        <!-- <div ng-include="'/templates/blockExplorer/_tx.html'"></div> -->
      </tab>
      <tab heading="TOP MESSAGES">
        TOP
        <!-- <div ng-include="'/templates/blockExplorer/_tx.html'"></div> -->
      </tab>
    </tabset>
  </div>
  <div class="col-md-2">
    <a class="btn btn-danger">+ CREATE A MESSAGE</a>
  </div>

</div>

