<div class="centerpiece centerpiece-notes">
  <h1 class='text-center calvin-klein'>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. - ScottyLi
  </h1>
</div>
<BR>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="alert alert-dismissable alert-danger text-center">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <!-- <span class="h4"> -->
        THIS NOTE HAS BEEN FOREVER EMBEDDED IN THE BLOCKCHAIN.
      <!-- </span> -->
    </div>
    <table class="table table-bordered table-striped table-note">
      <tbody>
        <tr>
          <td>Username</td>
          <td>ScottyLi</td>
        </tr>
        <tr>
          <td>Decoded Note</td>
          <td>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          </td>
        </tr>
        <tr>
          <td>Raw Note</td>
          <td>
            <a href="#">
              mpjuaPusdVC5cKvVYCFX94bJX1SNUY8EJo
            </a>
          </td>
        </tr>
        <tr>
          <td>Transaction Hash</td>
          <td>
            <a href="#">
              6f9e9570881e781db8c137c84c111a138e4a022e6b2def5e2a1589a802fe25f3
            </a>
          </td>
        </tr>
        <tr>
          <td>Time Received</td>
          <td>2014-2-14 12:14 UTC</td>
        </tr>
        <tr>
          <td>Magic Bytes</td>
          <td>0x98</td>
        </tr>
        <tr>
          <td>BTC Dedicated</td>
          <td>0.001 BTC</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
