<div id="centerpiece">
  <div class='h1 text-center calvin-klein'>
    "{{note.content}}" - {{note.sender}}
  </div>
</div>
<BR>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div ng-if="note.payment_valid">
      <div class="alert alert-dismissable alert-danger alert-danger-lighter text-center">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p class="lead">
          THIS NOTE HAS BEEN FOREVER EMBEDDED IN THE BLOCKCHAIN.
        </p>
      </div>
    </div>
    <div ng-if="!note.payment_valid">
      <div class="alert alert-dismissable alert-warning text-center">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p class="lead">
          THIS NOTE IS PENDING A 0.0005 BTC PAYMENT
        </p>
      </div>
    </div>
    <table class="table table-bordered table-striped table-note thin">
      <tbody>
        <tr>
          <td>FROM:</td>
          <td>{{note.sender}}</td>
        </tr>
        <tr>
          <td>NOTE (DECODED):</td>
          <td>
            {{note.content}}
          </td>
        </tr>
        <tr>
          <td>NOTE (RAW HEX):</td>
          <td class='break'>
            {{note.note_hex}}
          </td>
        </tr>
        <tr>
          <td>TRANSACTION HASH:</td>
          <td>
            <a href="https://helloblock.io/mainnet/transactions/{{note.tx_hash}}">
              {{note.tx_hash}}
            </a>
          </td>
        </tr>
        <tr>
          <td>NOTE ID:</td>
          <td>
            {{note.id}}
          </td>
        </tr>
        <tr>
          <td>TIME CREATED:</td>
          <td>{{note.created_at}}</td>
        </tr>
        <tr>
          <td>MAGIC BYTES:</td>
          <td>4c4f5645</td>
        </tr>
        <tr>
          <td>BTC DEDICATED:</td>
          <td>{{ note.total_paid }} BTC</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
