@import "lumen/base";

.note {
  border-bottom: 1px solid @gray-lighter;

  p.username {
    line-height: 2;
  }
}

.label-lg {
  border-radius: 0;
  font-size: 14px;
}

.centerpiece {
  padding: 50px;
  background-image: url("http://backgrounds.picaboo.com/download/e1/1d/e1d1b4f1a9e64bbfab6bd020a8cf6837/romantic_red.jpg");

  &.centerpiece-notes {
    background-image: url("http://backgrounds.picaboo.com/download/e1/1d/e1d1b4f1a9e64bbfab6bd020a8cf6837/romantic_red.jpg");
  }


  .title-fancy {
    font-family: 'Lobster', cursive;
    font-weight: 500;
    font-size: @font-size-h1 * 2;
    color: #fff;
  }

  .calvin-klein {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-style: italic;
    color: #fff;
  }
}
