@import "lumen/base";

.title-fancy {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  font-size: @font-size-h1 * 2;
  color: @gray-dark;
}

.calvin-klein {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-style: italic;
}
