<!DOCTYPE html>
<html ng-app="nbApp">
<head>
  <title>The Noteblock</title>
  <%= stylesheet_link_tag    "application", media: "all" %>

  <%= csrf_meta_tags %>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" href="/favicon.png" />

  <meta name="description" content="Roses will wither, but the Blockchain is forever.">
  <meta name="og:description" content="Roses will wither, but the Blockchain is forever.">
  <meta name="keywords" content="Bitcoin, Valentines, Blockchain" />

  <meta property="og:title" content="The Noteblock | Roses will wither, but the Blockchain is forever.">
  <meta property="og:url" content="http://www.thenoteblock.com/">
  <meta property="og:image" content="http://i.imgur.com/qCrmknZ.jpg" />

</head>
<body ng-cloak>
	<navbar></navbar>
	<div ng-view></div>

  <script type="text/javascript" src="https://d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js"></script>
	<%= javascript_include_tag "application" %>

	<!-- Production Cache -->
	<% if Rails.env.production? %>
    <%= javascript_include_tag "cache" %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46053922-7', 'thenoteblock.com');
      ga('send', 'pageview');

    </script>

  <% end %>
</body>
</html>
